language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

php:
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.3
  - 5.2
  - hhvm

env:
  # latest stable:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=1
  # earliest supported version:
  - WP_VERSION=4.4 WP_MULTISITE=0
  - WP_VERSION=4.4 WP_MULTISITE=1

matrix:
  fast_finish: true
  exclude:
    # don't test 4.4 on PHP 7.2:
    - php: 7.2
      env: WP_VERSION=4.4 WP_MULTISITE=0
    - php: 7.2
      env: WP_VERSION=4.4 WP_MULTISITE=1
    # don't test 4.4 on PHP 7.1:
    - php: 7.1
      env: WP_VERSION=4.4 WP_MULTISITE=0
    - php: 7.1
      env: WP_VERSION=4.4 WP_MULTISITE=1

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: phpunit
